#Container {
  max-width: 100%;
  height: 80px;
  position: sticky;
  background-color: white;
  overflow: hidden;
  display: flex;
  justify-content: center;
  padding: 16px;
  box-shadow: 0px 17px 38px 0px rgba(0, 0, 0, 0.89);
  margin-bottom: 15px;
}

#Container > img {
  max-width: 100%;
  max-height: 100%;
}
